source https://nuget.org/api/v2

nuget FSharp.Core
nuget FAKE
nuget Microsoft.AspNet.WebApi.OwinSelfHost
nuget Microsoft.Owin.Cors
nuget RestSharp
nuget Newtonsoft.Json
nuget xunit framework: >= net45
nuget xunit.runner.console framework: >= net45
